.snake-board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snake-butten {
  width: 350px;
  height:75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.snake-counter {
  margin-top: 3%;
}

.button-direction {
  width: 350px;
  height:150px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50px 50px 50px;
  padding-top: 15px;
}