.list-game {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #2a9d8f;
  height: 1500px;
}

@media (min-width: 45.25rem) {
  .list-game {
    height: 1000px;
  }
}

@media (min-width: 67.3rem) {
  .list-game {
    height: 500px;
  }
}
