.card__game {
  width: 20rem;
  height: 25rem;
  border: 2px #264653 solid;
  border-radius: 15px;
  background: #ffffff;
  margin: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imag-card__game {
  width: 90%;
  height: 80%;
  margin-top: 5%;
  border: 2px #264653 groove;
  border-radius: 5px;
  background-size: cover;
  background-position: 48% 0%;
}

.name-card__game {
  color: aliceblue;
  margin: 10px;
  font-size: larger;
}

.image-TicTacToe {
  background-image: url("./imag/ticTacToe.png");
}

.image-Snake {
  background-image: url("./imag/snake.png");
}

.image-Matching-Card {
  background-image: url("./imag/matching-card.png");
}
