.c {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  will-change: transform, opacity;
}

.cHard {
  width: 42px;
  height: 42px;
}

.front,
.back {
  background-size: cover;
}

.back {
  /* background-image: url(https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Ahelp); */
  background-color: rgb(218, 179, 255, 0.5);
}

.card-h2 {
  position: relative;
  bottom: 12px;
  left: 17px;
}
