.c {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  will-change: transform, opacity;
}

.cHard {
  width: 42px;
  height: 42px;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-color: rgb(244, 162, 97);
}

.card-h2 {
  position: relative;
  bottom: 12px;
  left: 17px;
}

.card-img {
  width: 50px;
  height: 50px;
}

.card-img__hard {
  width: 42px;
  height: 42px;
}
